body{
    overflow
    : hidden;
}

a{
    text-decoration: none;
}

.betamessage{
    position: absolute;
    top: 90vh;
    right: 20px;
    border: 1px solid red;
    color: #222222;
    padding: 0px 20px;
    background-color: white;
    border: 2px solid #8b0000;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px #8b0000;
}


.betamessage:hover {
    box-shadow: 0 0 #8b0000;
    color: #fff;
    background-color: #8b0000;
    cursor: pointer;
    border: none;
    outline: none;
}

.container {
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-areas: "car hubspot offerte"
    "stats stats offerte";
    grid-template-columns: 860px 400px 400px ;
    grid-template-rows: 60% 45%;
  }
  .container > div {
    margin: 10px;
  }

  .hubspot {
    margin-top: 50px!important;
    grid-area: hubspot;
    border: 2px solid #009879;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    height: 793px;

   }
  .car {
    grid-area: car;
  }
  .offerte {
    margin-top: 50px!important;
    grid-area: offerte;
    border: 2px solid #009879;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    height: 803px;
  }


  .stats {
    grid-area: stats;
    border: 2px solid #009879;
    border-radius: 10px;
    filter: drop-shadow(3px 6px 18px rgba(8, 8, 8, 0.59));
    background-color: rgb(255, 255, 255);
  }

  .a4{
    border: 2px solid blue;
    min-width: 210mm;
    max-width: 210mm;
    min-height: 297mm;
  }

  table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #1e571f;
    border-style: solid;
    color: #000000;
  }

  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 2px;
    border-color: #1e571f;
    border-style: solid;
    padding: 3px;
  }

  table.GeneratedTable thead {
    background-color: #1e571f;
  }

  .statBody{
    display: flex;
    justify-content: center;
  }

  .userStat{
    border-color: transparent;
    border-style: solid;
    min-height: 20em;
  }

  table.statTable {
    text-align: left;
  }
  table.statTable td, table.statTable th {
    border: 2px solid #3d2d2d;
    border-radius: 5px;
    padding: 5px 10px;
  }

  table.statTable tfoot td {
    font-size: 14px;
  }

  .styled-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 10;
}

.styled-table tbody tr {
    border-bottom: 2px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table tbody tr.active-row-red {
    font-weight: bold;
    color: #981700;
}


.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#brow2,
#La1_p1_a1 {
    width: 95%;
}

.form-row {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

.carForm{
    padding: 10px
}

.hubInput{
    visibility: show;
    margin-top: 5%;
    position: fixed;
    width: 80%;
    height:80vh;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.541);
    border: 2px solid #f57722;
    backdrop-filter: blur(10px);
}

.hubBody{
    display: block;
}

.hubHeader{
    height: 70px;
    background-color: #f576226e;
    border-radius: 20px 20px 0 0;
}

.hubHeaderInner{
    width: 100%;
    border: 1px dotted red;
}

#hidden{
    visibility: hidden;
}


.quiz-chartTip {
    padding: 5px 10px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    background-color: rgba(255,255,255,.9);
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    position: absolute;
    z-index: 50;
    max-width: 150px;
}

.quiz-graph {
    padding: 10px;
    height: 370px;
    width: 80%;
}

.quiz-graph .x-labels {
    text-anchor: middle;
}

.quiz-graph .y-labels {
    text-anchor: end;
}

.quiz-graph .quiz-graph-grid {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
}

.label-title {
    text-anchor: middle;
    text-transform: uppercase;
    font-size: 12px;
    fill: gray;
}

.quiz-graph-dot, .quiz-graph-start-dot{
    fill: rgba(0,112,210,1);
    stroke-width: 2;
    stroke: white;
}

body,
table,
input,
select,
textarea {
}

.graph {
  margin-bottom: 1em;
  font: normal 100%/150% arial, helvetica, sans-serif;
}

.graph caption {
  font: bold 150%/120% arial, helvetica, sans-serif;
  padding-bottom: 0.33em;
}

.graph tbody th {
  text-align: right;
}

@supports (display: grid) {
  @media (min-width: 32em) {
    .graph {
      display: block;
      width: 350px;
      height: 200px;
    }

    .graph caption {
      display: block;
    }

    .graph thead {
      display: none;
    }

    .graph tbody {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
      column-gap: 2.5%;
      align-items: end;
      height: 100%;
      margin: 3em 0 1em 2.8em;
      padding: 0 1em;
      border-bottom: 2px solid rgba(0, 0, 0, 0.5);
      background: repeating-linear-gradient(
        180deg,
        rgba(170, 170, 170, 0.7) 0,
        rgba(170, 170, 170, 0.7) 1px,
        transparent 1px,
        transparent 20%
      );
    }

    .graph tbody:before,
    .graph tbody:after {
      position: absolute;
      left: -3.2em;
      width: 2.8em;
      text-align: right;
      font: bold 80%/120% arial, helvetica, sans-serif;
    }

    .graph tbody:before {
      content: "100%";
      top: -0.6em;
    }

    .graph tbody:after {
      content: "0%";
      bottom: -0.6em;
    }

    .graph tr {
      position: relative;
      display: block;
    }

    .graph tr:hover {
      z-index: 999;
    }

    .graph th,
    .graph td {
      display: block;
      text-align: center;
    }

    .graph tbody th {
      position: absolute;
      top: 3em;
      left: 0;
      width: 100%;
      font-weight: normal;
      font-family: 'Inter';
      text-align: center;
      color: white;
      white-space: wrap;
      text-indent: 0;
    }

    .graph tbody th:after {
      content: "";
    }

    .graph td {
      width: 100%;
      height: 100%;
      background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );
      border-radius: 0.5em 0.5em 0 0;
      transition: background 0.5s;
    }

    .graph tr:hover td {
      opacity: 0.7;
    }

    .graph td span {
      overflow: hidden;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0;
      padding: 0.5em 0;
      margin: -1em 0 0;
      font: normal 85%/120% arial, helvetica, sans-serif;
      /* 			background:white; */
      /* 			box-shadow:0 0 0.25em rgba(0,0,0,0.6); */
      font-weight: bold;
      opacity: 0;
      transition: opacity 0.5s;
      color: white;
    }

    .toggleGraph:checked + table td span,
    .graph tr:hover td span {
      width: 4em;
      margin-left: -2em; /* 1/2 the declared width */
      opacity: 1;
    }
  } /* min-width:32em */
} /* grid only */

// sets

$gl-ms: "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs: "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm: "screen and (max-width: 48em)"; // max 768px
$gl-md: "screen and (max-width: 64em)"; // max 1024px
$gl-lg: "screen and (max-width: 80em)"; // max 1280px

// table style

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  * {
    position: relative;
  }

  td,
  th {
    padding-left: 8px;
  }

  thead tr {
    height: 60px;
    background: #ffed86;
    font-size: 16px;
  }

  tbody tr {
    height: 48px;
    border-bottom: 1px solid #e3f1d5;
    &:last-child {
      border: 0;
    }
  }

  td,
  th {
    text-align: left;
    &.l {
      text-align: right;
    }
    &.c {
      text-align: center;
    }
    &.r {
      text-align: center;
    }
  }
}

@media #{$gl-xs} {
  table {
    display: block;
    > *,
    tr,
    td,
    th {
      display: block;
    }

    thead {
      display: none;
    }
    tbody tr {
      height: auto;
      padding: 8px 0;
      td {
        padding-left: 45%;
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          position: absolute;
          font-weight: 700;
          width: 40%;
          left: 10px;
          top: 0;
        }

        &:nth-child(1):before {
          content: "Code";
        }
        &:nth-child(2):before {
          content: "Stock";
        }
        &:nth-child(3):before {
          content: "Cap";
        }
        &:nth-child(4):before {
          content: "Inch";
        }
        &:nth-child(5):before {
          content: "Box Type";
        }
      }
    }
  }
}



thead{
    background-image: ( 109.6deg,  rgba(28,103,88,1), rgba(61,131,97,1) 91.1% )
}
